@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
@primaryColor: #149dcc;
@secondaryColor: #ff3366;
@successColor: #F7ED4A;
@infoColor: #82786E;
@warningColor: #879A9F;
@dangerColor: #B1A374;
@mainFont: Rubik;
@display1Font: 'Rubik', sans-serif;
@display1Size: 4.25;
@display2Font: 'Rubik', sans-serif;
@display2Size: 3;
@display5Font: 'Rubik', sans-serif;
@display5Size: 1.5;
@display7Font: 'Rubik', sans-serif;
@display7Size: 1;
@display4Font: 'Rubik', sans-serif;
@display4Size: 1;
@isRoundedButtons: true;
@isAnimatedOnScroll: false;
@isScrollToTopButton: false;
// FONTS

body{
    // font-family: @mainFont;
    font-style: normal;
    line-height: 1.5;
}
.mbr-section-title{
    font-style: normal;
    line-height: 1.2;
}
.mbr-section-subtitle{
    line-height: 1.3;
}
.mbr-text{
    font-style: normal;
    line-height: 1.6;
}

.display-1 {
    font-family: @display1Font;
    font-size: @display1Size *1rem;
    > .mbr-iconfont {
        font-size: @display1Size *1.6rem;
    }
}

.display-2 {
    font-family: @display2Font;
    font-size: @display2Size *1rem;
    > .mbr-iconfont {
        font-size: @display2Size *1.6rem;
    }
}

.display-4 {
    font-family: @display4Font;
    font-size: @display4Size *1rem;
    > .mbr-iconfont {
        font-size: @display4Size *1.6rem;
    }
}

.display-5 {
    font-family: @display5Font;
    font-size: @display5Size *1rem;
    > .mbr-iconfont {
        font-size: @display5Size *1.6rem;
    }
}

.display-7 {
    font-family: @display7Font;
    font-size: @display7Size *1rem;
    > .mbr-iconfont {
        font-size: @display7Size *1.6rem;
    }
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */

@media (max-width: 768px){
    .display-1 {
        @display1Size-min: @display1Size - (@display1Size - 1) * 0.65;
        font-size: @display1Size * 0.8rem;
        font-size: ~"calc( @{display1Size-min}rem + (@{display1Size} - @{display1Size-min}) * ((100vw - 20rem) / (48 - 20)))";
        line-height: ~"calc( 1.4 * (@{display1Size-min}rem + (@{display1Size} - @{display1Size-min}) * ((100vw - 20rem) / (48 - 20))))";
    }
    .display-2 {
        @display2Size-min: @display2Size - (@display2Size - 1) * 0.65;
        font-size: @display2Size * 0.8rem;
        font-size: ~"calc( @{display2Size-min}rem + (@{display2Size} - @{display2Size-min}) * ((100vw - 20rem) / (48 - 20)))";
        line-height: ~"calc( 1.4 * (@{display2Size-min}rem + (@{display2Size} - @{display2Size-min}) * ((100vw - 20rem) / (48 - 20))))";
    }
    .display-4 {
        @display4Size-min: @display4Size - (@display4Size - 1) * 0.65;
        font-size: @display4Size * 0.8rem;
        font-size: ~"calc( @{display4Size-min}rem + (@{display4Size} - @{display4Size-min}) * ((100vw - 20rem) / (48 - 20)))";
        line-height: ~"calc( 1.4 * (@{display4Size-min}rem + (@{display4Size} - @{display4Size-min}) * ((100vw - 20rem) / (48 - 20))))";
    }
    .display-5 {
        @display5Size-min: @display5Size - (@display5Size - 1) * 0.65;
        font-size: @display5Size * 0.8rem;
        font-size: ~"calc( @{display5Size-min}rem + (@{display5Size} - @{display5Size-min}) * ((100vw - 20rem) / (48 - 20)))";
        line-height: ~"calc( 1.4 * (@{display5Size-min}rem + (@{display5Size} - @{display5Size-min}) * ((100vw - 20rem) / (48 - 20))))";
    }
}

/* Buttons */
.button-variant(@background) {

    @color: #fff;
    @border: @background;

    @active-background: if(
        eq(@background, @color),
        #d4d4d4,
        darken(@background, 15%)
    );
    @active-color: @color;
    @active-border: @active-background;

    &,
    &:active {
        background-color: @background;
        border-color: @border;
        color: @color;
    }

    &:hover,
    &:focus,
    &.focus,
    &.active {
        color: @active-color;
        background-color: @active-background;
        border-color: @active-border;
    }

    &.disabled, &:disabled {
        color: @active-color !important;
        background-color: @active-background !important;
        border-color: @active-border !important;
    }

}

.button-outline-variant(@color) {
    @active-color: #fff;
    @active-background: @color;
    @new-color: if(
        eq(@color, @active-color),
        #fff,
        darken(@color, 20%)
    );

    &,
    &:active {
        background: none;
        border-color: @new-color;
        color: @new-color;
    }

    &:hover,
    &:focus,
    &.focus,
    &.active {
        color: @active-color;
        background-color: @active-background;
        border-color: @active-background;
    }

    &.disabled, &:disabled {
        color: @active-color !important;
        background-color: @active-background !important;
        border-color: @active-background !important;
    }
}
.plan-variant(@className, @color) {
    &@{className} {
        .mbr-plan-subtitle,
        .mbr-plan-price-desc {
            @max: max(red(@color), green(@color), blue(@color));
            & when (@max > 200) {
                color: lighten(@color, 40%);
            }
            & when (@max > 85) and (@max <= 200) {
                color: lighten(@color, 25%);
            }
            & when (@max > 50) and (@max <= 85) {
                color: lighten(@color, 45%);
            }
            & when (@max <= 50) {
                color: lighten(@color, 70%);
            }
        }
    }
}

@btn-font-size:         .8rem;
@btn-border-radius:     3px;
@btn-padding-y:         1rem;
@btn-padding-x:         3rem;

@btn-font-size-sm:     .8rem;
@btn-border-radius-sm: 3px;
@btn-padding-y-sm:     .6rem;
@btn-padding-x-sm:     1.5rem;

@btn-font-size-md:      1rem;
@btn-border-radius-md:  3px;
@btn-padding-y-md:      1rem;
@btn-padding-x-md:      3rem;

@btn-font-size-lg:      1.2rem;
@btn-border-radius-lg:  3px;
@btn-padding-y-lg:      1.2rem;
@btn-padding-x-lg:      3.2rem;

.button-size(@btn-padding-y, @btn-padding-x, @btn-font-size, @btn-border-radius){
    padding: @btn-padding-y @btn-padding-x;
    border-radius: @btn-border-radius;
}

.btn {
    font-weight: 500;
    border-width: 2px;
    font-style: normal;
    letter-spacing: 1px;
    margin: .4rem .8rem;
    white-space: normal;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    .button-size(@btn-padding-y, @btn-padding-x, @btn-font-size, @btn-border-radius);
    .mbr-iconfont{
        // font-size: 1.6rem;
    }
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}
.btn-sm {
    font-weight: 500;
    letter-spacing: 1px;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    .button-size(@btn-padding-y-sm, @btn-padding-x-sm, @btn-font-size-sm, @btn-border-radius-sm);
}
.btn-md {
    font-weight: 500;
    letter-spacing: 1px;
    margin: .4rem .8rem !important;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    .button-size(@btn-padding-y-md, @btn-padding-x-md, @btn-font-size-md, @btn-border-radius-md);
}
.btn-lg {
    font-weight: 500;
    letter-spacing: 1px;
    margin: .4rem .8rem !important;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    .button-size(@btn-padding-y-lg, @btn-padding-x-lg, @btn-font-size-lg, @btn-border-radius-lg);
}

.bg-primary { background-color: @primaryColor !important; }
.bg-success { background-color: @successColor !important; }
.bg-info { background-color: @infoColor !important; }
.bg-warning { background-color: @warningColor !important; }
.bg-danger { background-color: @dangerColor !important; }

.btn-primary { .button-variant(@primaryColor); }
.btn-secondary { .button-variant(@secondaryColor); }
.btn-info { .button-variant(@infoColor); }
.btn-success { .button-variant(@successColor); }
.btn-warning { .button-variant(@warningColor); }
.btn-danger { .button-variant(@dangerColor); }
.btn-white { .button-variant(#ffffff); color: #333333 !important; }
.btn-black { .button-variant(#333333); }

.btn-primary-outline { .button-outline-variant(@primaryColor); }
.btn-secondary-outline { .button-outline-variant(@secondaryColor); }
.btn-info-outline { .button-outline-variant(@infoColor); }
.btn-success-outline { .button-outline-variant(@successColor); }
.btn-warning-outline { .button-outline-variant(@warningColor); }
.btn-danger-outline { .button-outline-variant(@dangerColor); }
.btn-black-outline { .button-outline-variant(#333333); }
.btn-white-outline {

    &,
    &:active,
    &.active {
        background: none;
        border-color: #ffffff;
        color: #ffffff;
    }

    &:hover,
    &:focus,
    &.focus {
        color: #333333;
        background-color: #ffffff;
        border-color: #ffffff;
    }

}

.text-primary { color: @primaryColor !important; }
.text-secondary { color: @secondaryColor !important; }
.text-success { color: @successColor !important; }
.text-info { color: @infoColor !important; }
.text-warning { color: @warningColor !important; }
.text-danger { color: @dangerColor !important; }
.text-white { color: #ffffff !important; }
.text-black { color: #000000 !important; }

a.text-primary:hover, a.text-primary:focus { color: darken(@primaryColor, 20%) !important; }
a.text-secondary:hover, a.text-secondary:focus { color: darken(@secondaryColor, 20%) !important; }
a.text-success:hover, a.text-success:focus { color: darken(@successColor, 20%) !important; }
a.text-info:hover, a.text-info:focus { color: darken(@infoColor, 20%) !important; }
a.text-warning:hover, a.text-warning:focus { color: darken(@warningColor, 20%) !important; }
a.text-danger:hover, a.text-danger:focus { color: darken(@dangerColor, 20%) !important; }
a.text-white:hover, a.text-white:focus { color: darken(#ffffff, 30%) !important; }
a.text-black:hover, a.text-black:focus { color: lighten(#000000, 30%) !important;  }

.alert-success { background-color: #70c770; }
.alert-info { background-color: @infoColor; }
.alert-warning { background-color: @warningColor; }
.alert-danger { background-color: @dangerColor; }

.mbr-section-btn a.btn:not(.btn-form) when(@isRoundedButtons) {
    border-radius: 100px;
    &:hover{
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .2);
    }
}

.mbr-gallery-filter li a when(@isRoundedButtons) {
    border-radius: 100px !important;
}

.mbr-gallery-filter {
    li.active .btn {
        background-color: @primaryColor;
        border-color: @primaryColor;
        color: contrast(@primaryColor, darken(@primaryColor, 45%), #ffffff, 60%);
        &:focus {
            box-shadow: none;
        }
    }
}

.nav-tabs .nav-link when(@isRoundedButtons) {
    border-radius: 100px !important;
}

.btn-form {
    border-radius: 0;
    &:hover{
        cursor: pointer;
    }
}

a, a:hover { color: @primaryColor; }

.mbr-plan-header {
    .plan-variant(~'.bg-primary', @primaryColor);
    .plan-variant(~'.bg-success', @successColor);
    .plan-variant(~'.bg-info', @infoColor);
    .plan-variant(~'.bg-warning', @warningColor);
    .plan-variant(~'.bg-danger', @dangerColor);
}

/* Scroll to top button*/
.scrollToTop_wraper when not(@isScrollToTopButton) {
    opacity: 0 !important;
}
#scrollToTop a when (@isScrollToTopButton) and (@isRoundedButtons){
    border-radius: 100px;
}

/* Others*/
.note-check a[data-value=Rubik]{
    font-style: normal;
}
.mbr-arrow a{
    color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}

.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
  &.alert-form::after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px;
  }
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  .display-7;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
  &, &:focus {
    border: 1px solid #e8e8e8;
  }
  .form-active &:invalid {
    border-color: red;
  }
}
.mbr-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: @primaryColor;
  border-width: 3px;
}
ul, ol, pre, blockquote {
    margin-bottom: (2.5rem - 0.1875rem);
}
pre {
    background: #f4f4f4;
    padding: 10px 24px;
    white-space: pre-wrap;
}
.inactive{
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
}
.mbr-section__comments{
    .row{
        justify-content:center;
    }
}

/* Forms */
.mbr-form{
    .btn{
        margin: .4rem 0;
    }
    .input-group-btn a.btn when(@isRoundedButtons){
        border-radius: 100px !important;
        // padding: 1rem 3rem;
        &:hover{
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .2);
        }
    }
    .input-group-btn button[type="submit"] when (@isRoundedButtons) {
        border-radius: 100px !important;
        padding: 1rem 3rem;
        &:hover{
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .2);
        }
    }
}

.form2{
    .form-control{
      & when (@isRoundedButtons){
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
      }
    }

    .input-group-btn a.btn when(@isRoundedButtons){
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .input-group-btn button[type="submit"] when(@isRoundedButtons) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}
.form3{
        input[type="email"] when (@isRoundedButtons) {
            border-radius: 100px !important;
        }
}

@media (max-width: 349px){
    .form2{
        input[type="email"] when (@isRoundedButtons) {
            border-radius: 100px !important;
        }
        .input-group-btn a.btn when (@isRoundedButtons) {
            border-radius: 100px !important;
        }
        .input-group-btn button[type="submit"] when (@isRoundedButtons) {
            border-radius: 100px !important;
        }
    }
}

@media (max-width: 767px){
    .btn{
        font-size: .75rem !important;
        .mbr-iconfont{
            font-size: 1rem !important;
        }
    }
}

/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: @primaryColor;
  color: rgb(35, 35, 35);
  cursor: pointer;
  i {
    top: 0;
    line-height: 44px;
    width: 44px;
  }
  &:hover {
    color: #fff;
    background: @primaryColor;
  }
  & + .btn {
      margin-left: .1rem;
  }
}

/* Footer */
.mbr-footer-content, .mbr-footer .mbr-contacts {
    li {
        &::before { background: @primaryColor; }
        a:hover { color: @primaryColor; }
    }
}
.footer3, .footer4 {
    input[type="email"] when (@isRoundedButtons) {
        border-radius: 100px !important;
    }
    .input-group-btn a.btn when (@isRoundedButtons) {
        border-radius: 100px !important;
    }
    .input-group-btn button[type="submit"] when (@isRoundedButtons) {
        border-radius: 100px !important;
    }
}

/* Headers*/
.header13, .header14{
    .form-inline{
        input[type="email"] when (@isRoundedButtons){
            border-radius: 100px;
        }
        input[type="text"] when (@isRoundedButtons){
            border-radius: 100px;
        }
        input[type="tel"] when (@isRoundedButtons){
            border-radius: 100px;
        }
        a.btn when (@isRoundedButtons){
            border-radius: 100px;
        }
        button when (@isRoundedButtons){
            border-radius: 100px !important;
        }
    }
}

// Offsets from bootstrap alpha
.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px){
.offset-sm-0 {
    margin-left: 0%; }

  .offset-sm-1 {
    margin-left: 8.33333%; }

  .offset-sm-2 {
    margin-left: 16.66667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.33333%; }

  .offset-sm-5 {
    margin-left: 41.66667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.33333%; }

  .offset-sm-8 {
    margin-left: 66.66667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.33333%; }

  .offset-sm-11 {
    margin-left: 91.66667%; }
}

@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%; }

  .offset-md-1 {
    margin-left: 8.33333%; }

  .offset-md-2 {
    margin-left: 16.66667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.33333%; }

  .offset-md-5 {
    margin-left: 41.66667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.33333%; }

  .offset-md-8 {
    margin-left: 66.66667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.33333%; }

  .offset-md-11 {
    margin-left: 91.66667%; }
}

@media (min-width: 992px){
  .offset-lg-0 {
    margin-left: 0%; }

  .offset-lg-1 {
    margin-left: 8.33333%; }

  .offset-lg-2 {
    margin-left: 16.66667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.33333%; }

  .offset-lg-5 {
    margin-left: 41.66667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.33333%; }

  .offset-lg-8 {
    margin-left: 66.66667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.33333%; }

  .offset-lg-11 {
    margin-left: 91.66667%; }
}

@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%; }

  .offset-xl-1 {
    margin-left: 8.33333%; }

  .offset-xl-2 {
    margin-left: 16.66667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.33333%; }

  .offset-xl-5 {
    margin-left: 41.66667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.33333%; }

  .offset-xl-8 {
    margin-left: 66.66667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.33333%; }

  .offset-xl-11 {
    margin-left: 91.66667%; }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem; }
  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%; }

.navbar-toggler-left {
  position: absolute;
  left: 1rem; }

.navbar-toggler-right {
  position: absolute;
  right: 1rem; }
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none; }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0; } }
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar-toggleable .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .navbar-toggleable .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem; }
    .navbar-toggleable > .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .navbar-toggleable .navbar-collapse {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      width: 100%; }
    .navbar-toggleable .navbar-toggler {
      display: none; } }
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none; }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0; } }
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar-toggleable-sm .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .navbar-toggleable-sm .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem; }
    .navbar-toggleable-sm > .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .navbar-toggleable-sm .navbar-collapse {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      width: 100%; }
    .navbar-toggleable-sm .navbar-toggler {
      display: none; } }
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none; }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0; } }
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar-toggleable-md .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem; }
    .navbar-toggleable-md > .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .navbar-toggleable-md .navbar-collapse {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      width: 100%; }
    .navbar-toggleable-md .navbar-toggler {
      display: none; } }
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none; }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0; } }
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar-toggleable-lg .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .navbar-toggleable-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem; }
    .navbar-toggleable-lg > .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .navbar-toggleable-lg .navbar-collapse {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      width: 100%; }
    .navbar-toggleable-lg .navbar-toggler {
      display: none; } }
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .navbar-toggleable-xl .navbar-nav .dropdown-menu {
    position: static;
    float: none; }
  .navbar-toggleable-xl > .container {
    padding-right: 0;
    padding-left: 0; }
  .navbar-toggleable-xl .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .navbar-toggleable-xl .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem; }
  .navbar-toggleable-xl > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar-toggleable-xl .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%; }
  .navbar-toggleable-xl .navbar-toggler {
    display: none; }

    .card-img{
        width: auto;
    }

// For old menu compatible with bootstrap4beta menu
.menu .navbar.collapsed:not(.beta-menu){
    flex-direction:column;
}

// Bootstrap4 Alpha carousel item style for display property
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

// This  hack for summernote dropdown compatible
.note-air-layout .dropup .dropdown-menu, .note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu{
    bottom: initial !important;
}
// Hack for popper.js
html,body{
    height: auto;
    min-height: 100vh;
}@isPublish: true;

.cid-qxQDAci1DD {
@fullScreen: false;
@paddingTop: 6;
@paddingBottom: 6;
@showArrow: true;
@showTitle: true;
@showSubTitle: false;
@showText: true;
@showButtons: false;
@uname__12: "file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2017-10-12_215151/assets/images/mbr-1440x1080.jpg";
@uname__13: false;
@uname__14: #232323;
@bg-value: "file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2017-10-12_215151/assets/images/mbr-1440x1080.jpg";
@bg-type: "image";
@bg-color-value: #232323;
@bg-parallax: false;
@overlay: true;
@overlayColor: #767676;
@overlayOpacity: 0.5;

& when not (@fullScreen) {
  padding-top: (@paddingTop * 15px);
  padding-bottom: (@paddingBottom * 15px);
}
& when (@bg-type = 'image') {
  background-image: url(../../../@bg-value);
}
& when (@bg-type = 'color') {
  background-color: @bg-value;
}
.mbr-text, .mbr-section-btn B {
  color: #232323;
}
}

.cid-qD2ebom1kF {
@fullWidth: true;
@paddingTop: 5;
@paddingBottom: 5;
@bgColor: #f7ed4a;
@gallery__showBullets: false;
@gallery__showText: false;
@gallery__filter: false;
@gallery__spacing: 3;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
.mbr-slider .carousel-control {
  background: #1b1b1b;
}
.mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  background: linear-gradient(to left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
}

.cid-qD2v6pzMc5 {
@paddingTop: 4;
@paddingBottom: 5;
@innerWidth: 100;
@lineLength: 100;
@lineColor: #ff7f9f;
@bgColor: #ff7f9f;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
.line {
  background-color: @lineColor;
  color: @lineColor;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.section-text {
  padding: 2rem 0;
}
.inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .inner-container {
    width: 100% !important;
  }
}
.section-text DIV {
  color: #149dcc;
}
.section-text I {
  color: #149dcc;
}
}

.cid-qD2B3ukZTH {
@slides__autoplay: false;
@slides__autoplayInterval: 4000;
@slides__showBullets: true;
@slides__embedded: "true";

.modal-body .close {
  background: #1b1b1b;
}
.modal-body .close span {
  font-style: normal;
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
  display: table;
}
.carousel-control .icon-next, .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .container .carousel-control {
    margin-bottom: 0;
  }
}
.boxed-slider {
  position: relative;
  padding: 93px 0;
}
.boxed-slider > div {
  position: relative;
}
.container img {
  width: 100%;
}
.container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.mbr-table-cell {
  padding: 0;
}
.container .carousel-indicators {
  margin-bottom: 3px;
}
.carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mbr-overlay {
  z-index: 1;
}
.container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  .container {
    @media (max-width: 576px) {
      width: 100%;
    }
  }
}
.carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.active.carousel-item-right, .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.active.carousel-item-left, .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.mbr-slider {
  .carousel-control {
    top: 50%;
    width: 70px;
    height: 70px;
    margin-top: -1.5rem;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all .3s;
    &.carousel-control-prev {
      left: 0;
      margin-left: 2.5rem;
    }
    &.carousel-control-next {
      right: 0;
      margin-right: 2.5rem;
    }
    .mbr-iconfont {
      font-size: 2rem;
    }
    @media (max-width: 767px) {
      top: auto;
      bottom: 1rem;
    }
  }
  .carousel-indicators {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem !important;
    li {
      max-width: 20px;
      width: 20px;
      height: 20px;
      max-height: 20px;
      margin: 3px;
      background-color: rgba(0, 0, 0, 0.5);
      border: 2px solid #fff;
      border-radius: 50%;
      opacity: .5;
      transition: all .3s;
      &.active, &:hover {
        opacity: .9;
      }
      &::after, &::before {
        content: none;
      }
    }
    &.ie-fix {
      left: 50%;
      display: block;
      width: 60%;
      margin-left: -30%;
      text-align: center;
    }
    @media (max-width: 576px) {
      display: none !important;
    }
  }
  > .container {
    img {
      width: 100%;
      + .row {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: 2;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .carousel-indicators {
      margin-bottom: 3px;
    }
    @media (max-width: 576px) {
      .carousel-control {
        margin-bottom: 0;
      }
    }
  }
  .mbr-section {
    padding: 0;
    background-attachment: scroll;
  }
  .mbr-table-cell {
    padding: 0;
  }
}
.carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.full-screen {
  .slider-fullscreen-image {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    &.active {
      display: -o-flex;
    }
  }
  & .container {
    width: auto;
    padding-right: 0;
    padding-left: 0;
  }
  .carousel-item .container.container-slide {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    & img {
      display: none;
    }
  }
}
.mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mbr-overlay ~ .container-slide {
  z-index: auto;
}
}

.cid-qD2I5RYX2E {
@fullWidth: true;
@paddingTop: 4;
@paddingBottom: 4;
@showText: true;
@imageSize: 100;
@bgColor: #ffffff;
@gradientBg: false;
@color2: #149dcc;

& when (@fullWidth = false) {
  padding-top: (@paddingTop * 15px);
  padding-bottom: (@paddingBottom * 15px);
}
background: @bgColor;
& when (@gradientBg) {
  background: linear-gradient(45deg, @bgColor, @color2);
}
.image-block {
  margin: auto;
  & when (@fullWidth) {
    width: 100% !important;
  }
}
.mbr-figure {
  margin: 0 auto;
}
figcaption {
  position: relative;
  div {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .image-block {
    width: 100% !important;
  }
}
DIV {
  color: #c4bc3b;
}
}

.cid-qD2MoruXx0 {
@fullWidth: true;
@paddingTop: 5;
@paddingBottom: 5;
@bgColor: #ffffff;
@gallery__showBullets: false;
@gallery__showText: false;
@gallery__filter: false;
@gallery__spacing: 3;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
.mbr-slider .carousel-control {
  background: #1b1b1b;
}
.mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  background: linear-gradient(to left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
}

.cid-qD34UYHLPT {

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
& when (@bg-type = 'color') {
  background-color: @bg-value;
}
& when (@bg-type = 'image') {
  background-image: url(../../../@bg-value);
}
.title {
  margin-bottom: 2rem;
}
.mbr-section-subtitle {
  color: #767676;
}
a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.input-group-btn {
  display: block;
  text-align: center;
}
}

.cid-qD34UXmkcr {
@paddingTop: 6;
@paddingBottom: 6;
@showTitle: false;
@showSubtitle: false;
@uname__10: "file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2017-10-12_215151/assets/images/371-24-138x103.jpg";
@uname__11: false;
@uname__12: #b1a374;
@bg-value: "file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2017-10-12_215151/assets/images/371-24-138x103.jpg";
@bg-type: "image";
@bg-color-value: #b1a374;
@bg-parallax: false;
@overlay: true;
@overlayColor: #000000;
@overlayOpacity: 0.7;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
& when (@bg-type = 'color') {
  background-color: @bg-value;
}
& when (@bg-type = 'image') {
  background-image: url(../../../@bg-value);
}
.title {
  margin-bottom: 2rem;
}
.mbr-section-subtitle {
  color: #767676;
}
a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.input-group-btn {
  display: block;
  text-align: center;
}
}

.cid-qD34XmkWr8 {
@paddingTop: 8;
@paddingBottom: 8;
@bgColor: #55b4d4;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
.google-map {
  height: 25rem;
  position: relative;
  iframe {
    height: 100%;
    width: 100%;
  }
  [data-state-details] {
    color: #6b6763;
    font-family: Montserrat;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  &[data-state] {
    background: #e9e5dc;
  }
  &[data-state="loading"] {
    [data-state-details] {
      display: none;
    }
    &::after {
    }
  }
}
}
.cid-qxQDAaywVv .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-qxQDAaywVv .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-qxQDAaywVv a {
  font-style: normal;
}
.cid-qxQDAaywVv .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qxQDAaywVv .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qxQDAaywVv .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qxQDAaywVv .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qxQDAaywVv .menu-logo {
  margin-right: auto;
}
.cid-qxQDAaywVv .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qxQDAaywVv .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qxQDAaywVv .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qxQDAaywVv .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qxQDAaywVv .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qxQDAaywVv .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qxQDAaywVv .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qxQDAaywVv .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qxQDAaywVv .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qxQDAaywVv .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qxQDAaywVv .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qxQDAaywVv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qxQDAaywVv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qxQDAaywVv .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qxQDAaywVv .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qxQDAaywVv .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qxQDAaywVv .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qxQDAaywVv .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qxQDAaywVv .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qxQDAaywVv .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qxQDAaywVv .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qxQDAaywVv .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qxQDAaywVv button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qxQDAaywVv button.navbar-toggler:focus {
  outline: none;
}
.cid-qxQDAaywVv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qxQDAaywVv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qxQDAaywVv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qxQDAaywVv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qxQDAaywVv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qxQDAaywVv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxQDAaywVv nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qxQDAaywVv nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qxQDAaywVv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxQDAaywVv .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qxQDAaywVv .collapsed .btn {
  display: flex;
}
.cid-qxQDAaywVv .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qxQDAaywVv .collapsed .navbar-collapse.collapsing,
.cid-qxQDAaywVv .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qxQDAaywVv .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qxQDAaywVv .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qxQDAaywVv .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qxQDAaywVv .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qxQDAaywVv .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qxQDAaywVv .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qxQDAaywVv .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qxQDAaywVv .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qxQDAaywVv .collapsed button.navbar-toggler {
  display: block;
}
.cid-qxQDAaywVv .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qxQDAaywVv .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qxQDAaywVv .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qxQDAaywVv .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qxQDAaywVv .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qxQDAaywVv .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qxQDAaywVv .navbar-expand {
    flex-direction: column;
  }
  .cid-qxQDAaywVv img {
    height: 3.8rem !important;
  }
  .cid-qxQDAaywVv .btn {
    display: flex;
  }
  .cid-qxQDAaywVv button.navbar-toggler {
    display: block;
  }
  .cid-qxQDAaywVv .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qxQDAaywVv .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qxQDAaywVv .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qxQDAaywVv .navbar-collapse.collapsing,
  .cid-qxQDAaywVv .navbar-collapse.show {
    display: block !important;
  }
  .cid-qxQDAaywVv .navbar-collapse.collapsing .navbar-nav,
  .cid-qxQDAaywVv .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qxQDAaywVv .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qxQDAaywVv .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qxQDAaywVv .navbar-collapse.collapsing .navbar-buttons,
  .cid-qxQDAaywVv .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qxQDAaywVv .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qxQDAaywVv .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxQDAaywVv .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qxQDAaywVv .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qxQDAaywVv .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qxQDAaywVv .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qxQDAaywVv .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qxQDAci1DD {
  background-image: url("../../../assets/images/jumbotron.jpg");
}
.cid-qxQDAdCBDF {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-qxQDAdCBDF .content {
    text-align: center;
  }
  .cid-qxQDAdCBDF .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-qxQDAdCBDF .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-qxQDAdCBDF .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-qxQDAdCBDF .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-qxQDAdCBDF .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qxQDAdCBDF .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qxQDAdCBDF .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qxQDAdCBDF .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qxQDAdCBDF .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qxQDAdCBDF .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qxQDAdCBDF .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qxQDAdCBDF .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qxR3yErlOk {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-qD28SKVOh6 {
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-qD28SKVOh6 .mbr-section-subtitle {
  letter-spacing: .2rem;
}
